/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
}

body{
    color: rgb(51, 51, 51);
    font-family: Inter, sans-serif;
}

a{
    color: inherit;
    text-decoration: unset;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header__navigation{
    flex-grow: 3;
}
.navigation__items{
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    margin: unset;
    list-style-type: none;
    justify-content: space-evenly;
}

.navigation__item{
    display: flex;
}

.navigation__link{
    padding: 10px 5px;
    color: white;
    position: relative;
}

.navigation__link:before{
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: rgb(51, 51, 51);
    transform: skew(-20deg);
    z-index: -1;
    top: 0;
    right: -10%;
    border-radius: 2px;
}

.navigation__link:after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(165 0 0);
    transform: skew(-20deg);
    z-index: -1;
    top: 0;
    left: -10%;
    transition: width .4s ease;
}

.navigation__link:hover:after{
    width: 120%;
}

.logo svg{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
    display: flex;
}

.logo{
    position: relative;
}


.header__logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.hamburger{
    position: relative;
    overflow: hidden;
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.hamburger__line{
    background-color: #000000;
    border-radius: 5px;
    height: 16%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: transform .8s ease , top .8s ease,left .4s ease;
}

.hamburger .hamburger__line:first-child{
    top: 0;
    transform: rotate(0);
}

.hamburger .hamburger__line:nth-child(2){
    top: calc(50% - 8%);
    transform: rotate(0);
}

.hamburger .hamburger__line:last-child{
    bottom: 0;
}

.hamburger.active .hamburger__line:first-child{
    top: calc(50% - 8%);
    transform: rotate(45deg);
}

.hamburger.active .hamburger__line:nth-child(2){
    transform: rotate(-45deg);
}

.hamburger.active .hamburger__line:last-child{
    left: 100%;
}

.navigation__hamburger{
    display: none;
}








.button{
    padding: 10px 20px;
    color: white;
    background-color: rgb(165 0 0);
    border-radius: 2px;
}

.introduction__button_show-more{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    transition: color .4s ease, background .4s ease;
}

.button:hover{
    color: rgb(165 0 0);
    background-color: #ffffff;
}


.introduction{
    height: calc(100vh - 100px);
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.section{
    margin: 80px 0;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}
.container_full-width{
    max-width: unset;
    padding: unset;
}

.section-title{
    margin: 0 0 40px 0;
    padding-left: 40px;
    text-transform: uppercase;
    position: relative;
}

.section-title:before{
    content:'';
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 30px;
    height: 2px;
    background-color: rgb(165 0 0);
}

.section-title_color-white{
    color: #ffffff;
}

.about-me__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-me__content img{
    width: 50%;
}

.about-me__text{
    width: 40%;
    padding: 0 5%;
}

.technologies__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.technologies__item{
    max-width: 120px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .4s ease;
}

.technologies__item img{
    height: auto;
    max-height: 120px;
    width: 100%;
}

.technologies__item:hover{
    transform: scale(1.2);
}

.curve-background{
    padding: 100px 0 140px 0;
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
    background-color:rgb(51, 51, 51);
}

.container_examples{
    
}


.examples__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.examples__item{
    width: calc(50% - 2%);
    position: relative;
    margin: 1%;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}
.examples__item img{
    transform: scale(1);
    transition: transform .4s ease;
}

.examples__description{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40%);
    height: 100%;
    padding: 0 20%;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .4s ease;
}

.examples__item:hover .examples__description{
    opacity: 1;
}

.examples__item:hover img{
    transform: scale(1.2);
}

.examples__link{

}




.contact__content{
    
}

.form_contact{
    background-image: url('../images/form-bg.jpg');
    background-size: cover;
    max-width: 340px;
    margin: 0 auto;
    color: #ffffff;
}

.form{
    padding: 40px 20px;
}

.form__title{
    text-transform: uppercase;
    text-align: center;
    margin-top: unset;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}
.form__label{
    margin: 0 0 16px 0;
}

.form__field{
    width: calc(100% - 30px - 4px);
    padding: 10px 15px;
}

.submit-button{
    margin: 0 auto;
    padding: 10px 40px;
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    border: unset;
    border-left: 4px solid rgb(165 0 0);
    border-right: 4px solid rgb(165 0 0);
    background-color: #ffffff;

    transition: border .4s ease, background .4s ease, color .4s ease;
}


.submit-button:hover{
    background-color: rgb(165 0 0);
    border-color: #ffffff;
    color: white;
}


.social__items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.social__item{
    max-width: 120px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .4s ease;
    margin: 5% 0;
}

.social__item img{
    height: auto;
    max-height: 45px;
    width: 100%;
}

.social__item:hover{
    transform: scale(1.2);
}



.footer{
    
}

.container_footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #808080;
}

.navigation_footer{
    flex-grow: 1;
}

.navigation__items_footer{
    height: 100%;
    align-items: center;
}



@media (max-width: 720px){
    .navigation__hamburger{
        display: block;
    }

    body{
        padding-top: 60px;
    }

    .header__logo{
        max-height: 60px;
        max-width: 60px;
    }

    .header{
        justify-content: space-between;
        padding: 0 5%;
        position: fixed;
        left: 0;
        top: 0;
        width: calc(100% - 10%);
        background-color: #FFFFFF;
        z-index: 10;
    }

    .header__logo{
        flex-grow: unset;
    }

    .navigation_mobile{
        position: fixed;
        left: 100vw;
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: rgb(0,0,0,0.7);
        transition: left .6s ease;
        z-index: 11;
    }

    .navigation_mobile.active{
        left: 0;
    }

    .navigation_mobile .navigation__items{
        justify-content: space-around;
        flex-direction: column;
        height: 80%;
        width: 100%;
        align-items: center;
    }

    .navigation_mobile .navigation__item{
        width: 40%;
    }

    .navigation_mobile .navigation__link{
        width: 100%;
        display: flex;
        justify-content: center
    }

    .section {
        margin: 40px 0;
    }

    .about-me__text,.about-me__content img{
        width: 100%;
    }

    .technologies__items{
        justify-content: center;
    }
    .technologies__item{
        margin: 5%;
        max-width: 90px;
    }

    .technologies__item img{
        max-height: 90px;
    }

    .examples__item{
        width: 100%;
    }

    .navigation_footer{
        display: none;
    }
}